* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linen; */
    background: linear-gradient(160deg, hsl(180, 55%, 95%), linen 50%);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    gap: 12px;
    height: 100vh;
    color: #1a1b1c;
}

header {
    margin: 20px 8px 0;
}

#intro {
    margin-top: 24px;
    max-width: 664px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 4px;
    max-width: 100%;
}

.wheel {
    height: 470px;
    width: 470px;
    border: 3px solid gray;
    border-radius: 50%;
    box-shadow: 1px 2px 1px;
    background: linear-gradient(155deg, burlywood 70%, hsl(345, 2%, 55%) 88%);
    margin: 24px auto 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choice {
    height: 24%;
    width: 24%;
    text-align: center;
    border: 2px solid rgb(10,10,10);
    border-radius: 20%;
    margin: 80px 50px 0;
    font-size: 44px;
    padding: 10px;
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 0.5);
}

#instruction {
    line-height: 26px;
    padding: 10px;
    margin-top: -10px;
}

.choice:last-of-type {
    margin-bottom: 20px;
    margin-top: 0
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-family: 'Roboto', monospace;
    width: 528px;
    margin-bottom: 18px;
}

.scoreboard h3 {
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 2px;
}

.score p {
    font-size: 52px;
    padding-top: 4px;
}

#ticker-container {
    padding: 15px 4px;
    color: white;
    font-size: 32px;
    background-color: #111213;
    height: 70px;
    width: 50%;
    flex: auto;
    border-radius: 3%;
    vertical-align: middle;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.5);
}

#player, #computer {
    margin-top: -70px;
    height: 140px;
    width: 18%;
    background-color: #111213;
    color: hsl(355, 90%, 60%);
    padding: 12px 8px;
    border-radius: 5%;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.5);
}

button:hover {
    cursor: pointer;
    -webkit-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px);
    box-shadow: unset;
}

footer {
    border-top: 2px solid gray;
    padding: 8px 0;
    font-size: 16px;
    height: 42px;
    width: 100%;
}

footer i {
    font-size: 20px;
}

@media (max-width: 631px) {

    header h1 {
        font-size: 32px;
    }

    #intro {
        font-size: 16px;
    }

    .scoreboard {
        width: 400px;
    }

    #ticker-container {
        font-size: 24px;
        padding-top: 20px;
    }

    .wheel {
        height: 400px;
        width: 400px;
        font-size: 16px;
        margin: 12px auto 58px;
    }

    .choice {
        margin: 56px 28px 0;
        font-size: 36px;
    }
}